<html>
<head>
    <title>Pokemon Database Home Page</title>
</head>
<body>
    <h1>Pokemon Database Home Page</h1>
    <h2>Welcome to the Pokemon Database!<h2>
    <div>Our goal is to help all you trainers, beginners and veterans alike, look up any information you might need in the Pokemon universe!</div>
    <h2>Pokemon Database Pages:</h2>
    <ul>
        <li><a href={{url_for('pokemon')}}>Pokemon</a></li>
        <li><a href={{url_for('evolutions')}}>Evolutions</a></li>
        <li><a href={{url_for('trainers')}}>Trainers</a></li>
        <li><a href={{url_for('regions')}}>Regions</a></li>
        <li><a href={{url_for('pokemon_trainers')}}>Pokemon_Trainers</a></li>
    </ul> 
</body>
</html>